* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #adb5bd;
}

.form-container,
.section-container {
    margin: 1.875em 6.25em 6.25em;
}

/* Form edit notes style */

.form-container {
    display: flex;
    flex-direction: column;
}

.form-textarea,
.form-save-note {
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    font-family: inherit;
    letter-spacing: 0.5px;
}

.form-textarea {
    background-color: #f8f9fa;
    padding: 1em;
    resize: none;
    width: 100%;
    height: 250px;
}

.form-save-note {
    color: #ffffff;
    background-color: #4361ee;
    padding: 0.75em 0.625em;
    cursor: pointer;
}

.form-save-note:hover {
    background-color: #ffd166;
    color: #001d3d;
}

/* section lists of notes style */

.section-heading {
    font-weight: 400;
    margin: 0;
}

.section-list-notes {
    text-transform: uppercase;
    margin: 0.625em 0;
    padding: 0;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.section-list-notes li::marker {
    content: '☞ ';
    font-size: 1.3rem;
}

.section-list-notes a {
    color: #4361ee;
}

.section-list-notes a:hover,
.section-list-notes a:active { 
    color: #ffd166;
}

/* modal pop up */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    max-height: 40%;
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px #1b263b;
    background-color: #779be7;
    color: #e0e1dd;
}

.modal-notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 0.625em 0 0 0.625em;
}

.modal-notes-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 0 0 1em;
    text-transform: uppercase;
}

.modal-notes-body {
    margin: 1.1em 0;
    line-height: 1.4;
}

.modal-notes-body li::marker {
    content: '☞ ';
    font-size: 1.3rem;
}

.modal-close-btn-container {
    text-align: right;
    margin: 0.6em 0.8em 0 0;
    font-size: 20px;
}

.modal-close {
    cursor: pointer;
}

.modal-close:hover {
    color: #ffd166;
}

.modal-overlay {
    position: fixed; /* position it to the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* make the background semi-transparent black */
    z-index: 1; /* make sure it stay on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    
    .modal-notes-title {
        font-size: 1.875rem;
    }

    .modal-notes-body {
        margin: 1.25em 0;
        line-height: 1.4;
    }

    .modal-close-btn-container {
        margin: 0.7em 0.9em 0 0;
        font-size: 30px;
    }
}